<script language="JavaScript">
    jQuery.noConflict();

    function returnCourse() {
        window.location = "index.php?do=course&action=start";
    }

    function save() {

		var share = jQuery("#share").val();

		if (share == "A") {
			var urlAction = "index.php?do=course&action=change";
		}

		if (share == "I") {
			var urlAction = "index.php?do=course&action=include";
		}

		formDados = new FormData(document.getElementById('frmCourse'));

		jQuery.ajax({
			type: 'POST',
			url: urlAction,
			data: formDados,
			success: function (data) {
				console.log(data);
                redirect();
			},
			cache: false,
			contentType: false,
			processData: false
		});
	}

    function redirect() {
        window.location = "index.php?do=course&action=start";
        alert ("Curso incluido com sucesso !")
    }

    /* function exibeCourse() {
        jQuery("#course").slideDown();
        jQuery("#module").slideUp();

        jQuery("#linkCourse").removeClass("inactive").addClass("active");
        jQuery("#linkModule").removeClass("active").addClass("inactive");
    }

    function exibeModule() {
        jQuery("#module").removeAttr("style");
        jQuery("#course").slideUp();
        jQuery("#module").slideDown();

        jQuery("#linkCourse").removeClass("active").addClass("inactive");
        jQuery("#linkModule").removeClass("inactive").addClass("active");
    } */

</script>

<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="padding-padrao">
                {if $objCourseForm->getShare() == "A"}
                    <h1>Alterar Curso</h1>
                {else} 
                    <h1>Cadastro de Curso</h1>
                {/if}
            </div>
        </div>

        <div class="col-2">
            <div class="padding-padrao">    
                <button type="button" name="btn-incluir" id="btn-incluir" class="btn btn-primary" onclick="save();">
                    <i class="fas fa-plus"></i>Salvar
                </button>

                <button type="button" name="btn-voltar" id="btn-voltar" class="btn btn-primary" onclick="returnCourse();">
                    <i class="fas fa-arrow-left"></i> Voltar
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row align-items-start">
        <div class="col-12">
            <div class="padding-padrao">
                <h2><i class="fas fa-graduation-cap"></i> Cadastrar Curso</h2>
            </div>
            <p class="font-weight-light">Preencha os campos abaixo para cadastrar um novo Curso !</p>	
        </div>  
    </div>
         
    <form name="frmCourse" id="frmCourse" method="POST">
        <input type="hidden" name="share" 				id="share" 				value="{$objCourseForm->getshare()}">
        <input type="hidden" name="idCourse" 			id="idCourse" 			value="{$objCourseForm->getId()}">
        
    
        <div class="row align-items-start">
            <div class="col-1">
                <div class="padding-padrao">
                    <label for="uniqueCode" title="Código Unico" class="text-ellipsis">Código:</label>
                    <input type="text" name="uniqueCode" id="uniqueCode" class="uniqueCode form-control form-control-sm" value="{$objCourseForm->getUniqueCode()}" >
                </div>
            </div>

            <div class="col-3">
                <div class="padding-padrao">
                    <label for="title" title="Titulo" class="text-ellipsis">Titulo:</label>
                    <input type="text" name="title" id="title" class="title form-control form-control-sm" value="{$objCourseForm->getTitle()}" >
                </div>
            </div>

            <div class="col-4">
                <div class="padding-padrao">
                    <label for="description" title="Descrição" class="text-ellipsis">Descrição:</label>
                    <input type="text" name="description" id="description" class="description form-control form-control-sm" value="{$objCourseForm->getDescription()}" >
                </div>
            </div>

            <div class="col-2">
                <div class="padding-padrao">
                    <label for="creationDate" title="Data Criação" class="text-ellipsis">Data Criação:</label>
                    <input type="date" name="creationDate" id="creationDate" class="creationDate form-control form-control-sm" value="{$objCourseForm->getCreationDate()}" >
                </div>
            </div>

            <div class="col-2">
                <div class="padding-padrao">
                    <label for="user" title="Usuário" class="text-ellipsis">Usuário:</label>
                    <select name="user" id="user" class="user form-control form-control-sm">
                        <option value="" selected>Selecione</option>
                        {foreach item=objUser from=$collectionUser}
                            {if ($objCourseForm->getUser() == $objUser->getId())}
                                <option value="{$objUser->getId()}" selected>{$objUser->getName()}</option>
                            {else}											
                                <option value="{$objUser->getId()}">{$objUser->getName()}</option>
                            {/if} 
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>


    </form>
</div>